.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-left: 16px;
        padding-right: 20px;
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 16px;
        padding-right: 16px;
        width: 1200px;
    }
}