.container {
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include tablet {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    @include desktop {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
