$main-font-family: 'DM Sans', sans-serif;
$title-font-family: 'Titan One', sans-serif;

// заголовки, кнопки, ховер-фокус
$main-red-color: #D41443;
// текcт в параграфах
$main-text-color: #907E82;
// цвета в Products и Contacts
$accent-pink: #FFA5BA;
$accent-yellow: #F0D1A5;
$accent-green: #C2E297;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);