@import "./utils/common";

@import "./base/module";

@import "./components/header";
@import "./components/tablet-mobile-menu";
@import "./components/hero";
@import "./components/product";
@import "./components/about";
@import "./components/advantages";
@import "./components/gallery";
@import "./components/customer-reviews";
@import "./components/contacts";
@import "./components/footer";
