@import "~node_modules/modern-normalize/modern-normalize.css";
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 16px;
    padding-right: 20px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@-webkit-keyframes visibly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes visibly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes grow-link {
  0% {
    font-size: 14px;
  }
  100% {
    font-size: 16px;
  }
}
@keyframes grow-link {
  0% {
    font-size: 14px;
  }
  100% {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 60px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .header__container {
    padding-top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 32px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
  }
}

.header__logo {
  -webkit-animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
          animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__box-btn--tablet {
  display: flex;
  align-items: center;
}

.header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  -webkit-animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
          animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button--close {
  stroke: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
          animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .header__box {
    position: absolute;
    top: -100%;
    right: 0;
    transform: translateY(0);
    min-height: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
    background-color: #E17992;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__box.is-hidden {
    transform: translateY(100%);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__box {
    width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__box {
    width: 254px;
  }
}
@media screen and (min-width: 1200px) {
  .header__box {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
}

.header__button--basic {
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: #ffffff;
  color: #D41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button--basic:hover, .header__button--basic:focus {
  background-color: #ECEBEB;
}

.header__button {
  -webkit-animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
          animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .header__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 43px;
    padding-right: 43px;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    padding-left: 37px;
    padding-right: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    margin-left: 141px;
    margin-bottom: 0;
  }
}

.header__button--tablet {
  display: none;
  margin-left: 32px;
  padding-left: 37px;
  padding-right: 37px;
  -webkit-animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
          animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__button--tablet {
    display: block;
  }
}

.header__button--arrow {
  margin-left: 12px;
  stroke: #D41443;
}

@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    gap: 35px;
  }
}

.header__item {
  -webkit-animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
          animation: visibly 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .header__item {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E18298;
  }
  .header__item:not(:last-child) {
    margin-bottom: 22px;
  }
  .header__item:first-child {
    border-top: 1px solid #E18298;
  }
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: 0.03;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #D41443;
  -webkit-animation: grow-link 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
          animation: grow-link 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@media screen and (max-width: 1199px) {
  .header__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.hero {
  background-color: #FFB8CA;
  background-image: url(../images/hero-icecream-mob.png), url(../images/circle-hero-mob.png);
  background-repeat: no-repeat;
  background-position: 117px bottom, 36px 83px;
  background-size: 171px, 346px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-icecream-mob-2x.png), url(../images/circle-hero-mob-2x.png);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-position: calc(117px + (100% + 171px - 480px) / 2) bottom, calc(36px + (100% + 346px - 480px) / 2) 83px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/girl-tab.png), url(../images/hero-icecream-tab.png), url(../images/circle-tab.png);
    background-position: calc(546px + (100% + 190px - 786px) / 2) calc(100% - 1px), calc(322px + (100% + 143px - 786px) / 2) bottom, calc(248px + (100% + 335px - 786px) / 2) 43px;
    background-size: 190px, 143px, 335px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/girl-tab-2x.png), url(../images/hero-icecream-tab-2x.png), url(../images/circle-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/girl-deck.png), url(../images/hero-icecream-deck.png), url(../images/circle-deck.png);
    background-position: calc(880px + (100% + 304px - 1200px) / 2) bottom, calc(636px + (100% + 236px - 1200px) / 2) bottom, calc(517px + (100% + 534px - 1200px) / 2) 43px;
    background-size: 304px, 236px, 534px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/girl-deck-2x.png), url(../images/hero-icecream-deck-2x.png), url(../images/circle-deck-2x.png);
  }
}

.hero__container {
  position: relative;
  padding-top: 136px;
  padding-bottom: 158px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 10px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Titan One", sans-serif;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 218px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 277px;
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 24px;
  }
}

.hero__title-part {
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .hero__title-part {
    font-size: 34px;
    line-height: 90.5%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title-part {
    font-size: 58px;
  }
}

.hero__link-set {
  display: flex;
}

.hero__link-set-item {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__link-set-item {
    margin-right: 16px;
  }
}
.hero__link-set-item:last-child {
  margin-right: 0;
}

.hero__ancor-link {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 24px;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .hero__ancor-link {
    height: 40px;
    padding-right: 22.63px;
    padding-left: 23.66px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__ancor-link--violet {
  color: #ffffff;
  background-color: #D41443;
}

.hero__ancor-link--white {
  color: #D41443;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__ancor-link--white:hover, .hero__ancor-link--white:focus {
  background-color: #ECEBEB;
}

.hero__box {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__box {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .hero__box {
    display: flex;
  }
}

.hero__jug-photo {
  width: 152px;
}
@media screen and (min-width: 1200px) {
  .hero__jug-photo {
    width: 213px;
  }
}

.hero__text-box {
  padding-top: 68px;
}

.hero__text {
  margin-bottom: 7px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
  max-width: 114px;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 140%;
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.hero__arrow {
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/arrow-right-hero-tab.png);
  background-size: 18px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__arrow {
    background-image: url(../images/arrow-right-hero-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero__arrow {
    width: 26px;
    height: 26px;
    background-image: url(../images/arrow-right-hero-deck.png);
    background-size: 26px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__arrow {
    background-image: url(../images/arrow-right-hero-deck-2x.png);
  }
}

.hero__amounts {
  display: none;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 768px) {
  .hero__amounts {
    display: block;
    top: 0px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__amounts {
    display: block;
    top: 5px;
    right: 16px;
  }
}

.hero__amounts-item {
  position: relative;
  margin-bottom: 16px;
}
.hero__amounts-item:last-child {
  margin-bottom: 0;
}

.hero__amounts-item--first {
  padding-top: 2px;
  padding-right: 10px;
}
@media screen and (min-width: 1200px) {
  .hero__amounts-item--first {
    padding-top: 4px;
    padding-right: 18px;
  }
}

.hero__amounts-item--second {
  padding-top: 1px;
  padding-right: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__amounts-item--second {
    padding-top: 3px;
    padding-right: 18px;
  }
}

.hero__number {
  position: relative;
  font-family: "Titan One";
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 1200px) {
  .hero__number {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__number-description {
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__number-description {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero__number-circle-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1200px) {
  .hero__number-circle-icon {
    width: 30px;
    height: 30px;
  }
}

.hero__number-circle {
  fill: #ffffff;
}

.products .container {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .products .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .products .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .products-blok {
    display: flex;
    justify-content: center;
  }
}

/*-------------*/
.products__text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products__text {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    line-height: 1.46;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.products-blok {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .products-blok {
    width: calc((100% - 32px) / 3);
    gap: 16px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .products-blok {
    width: calc((100% - 64px) / 3);
    gap: 32px;
  }
}

.ice-cream .coffe .milkshakes {
  display: block;
}

.products-blok__ice-cream {
  width: 280px;
  height: auto;
  margin-top: 140px;
  background: #ffb8ca;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
}
@media screen and (min-width: 768px) {
  .products-blok__ice-cream {
    width: 224px;
    margin-top: 138px;
    padding: 118px 32px 40px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products-blok__ice-cream {
    margin-top: 260px;
    width: 368px;
    padding: 160px 60px 60px 60px;
  }
}

.ice-creame::before {
  content: "";
  position: absolute;
  background-image: url(/src/images/products-wafer-mob.png);
  width: 280px;
  height: 280px;
}
@media screen and (min-width: 768px) {
  .ice-creame::before {
    background-image: url(/src/images/products-wafer-tab.png);
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .ice-creame::before {
    background-image: url(/src/images/products-wafer-deck.png);
    width: 368px;
    height: 394px;
  }
}

.products-blok__coffe {
  width: 280px;
  height: auto;
  margin-top: 140px;
  background: #f0d1a5;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
}
@media screen and (min-width: 768px) {
  .products-blok__coffe {
    width: 224px;
    margin-top: 138px;
    padding: 118px 32px 40px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products-blok__coffe {
    margin-top: 260px;
    width: 368px;
    padding: 160px 60px 60px 60px;
  }
}

.coffe::before {
  content: "";
  position: absolute;
  background-image: url(/src/images/products-coffee-mob.png);
  width: 280px;
  height: 280px;
}
@media screen and (min-width: 768px) {
  .coffe::before {
    background-image: url(/src/images/products-coffee-tab.png);
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .coffe::before {
    background-image: url(/src/images/products-coffee-deck.png);
    width: 368px;
    height: 394px;
  }
}

.products-blok__milkshakes {
  width: 280px;
  height: auto;
  margin-top: 140px;
  background: #c2e297;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;
}
@media screen and (min-width: 768px) {
  .products-blok__milkshakes {
    width: 224px;
    margin-top: 138px;
    padding: 118px 32px 40px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products-blok__milkshakes {
    margin-top: 260px;
    width: 368px;
    padding: 160px 60px 60px 60px;
  }
}

.milkshakes::before {
  content: "";
  position: absolute;
  background-image: url(/src/images/products-milkshakes-mob.png);
  width: 280px;
  height: 280px;
}
@media screen and (min-width: 768px) {
  .milkshakes::before {
    background-image: url(/src/images/products-milkshakes-tab.png);
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .milkshakes::before {
    background-image: url(/src/images/products-milkshakes-deck.png);
    width: 368px;
    height: 394px;
  }
}

.products-blok__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .products-blok__title {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products-blok__title::after {
  content: "...";
  display: flex;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  margin-top: 32px;
}

.products-blok__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .products-blok__text {
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .products-blok__text {
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 60px;
  }
}

.products-blok__btn {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.about {
  padding-bottom: 0;
  background: #FFF5F6;
}

@media screen and (min-width: 1200px) {
  .about {
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: contain;
    background-image: url("../images/spilled-milk-deck.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about .about {
    background-image: url("../images/spilled-milk-deck-2x.png");
  }
}
.about__label {
  text-align: center;
  color: #FFA5BA;
  margin-bottom: 16px;
  font-family: "Titan One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.about__title {
  text-align: center;
  color: #D41443;
  font-family: "Titan One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .about__title {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
  }
}

.about__wrapper-box {
  font-family: "DM Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .about__wrapper-box {
    display: flex;
    justify-content: center;
  }
}

.about__wrapper-pic {
  text-align: center;
}

.about__section {
  text-align: center;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .about__section {
    width: 280px;
    background-position: 0 71px;
    background-size: content;
    background-repeat: no-repeat;
    background-image: url("../images/spilled-milk-mob.png");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__section .about__section {
    background-image: url("../images/spilled-milk-mob-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .about__section {
    width: 334px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__section {
    padding-top: 90px;
    width: 463px;
    margin-left: 100px;
    margin-right: 0;
  }
}

.about__top-text,
.about__down-text,
.about__line {
  width: 220px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .about__top-text,
.about__down-text,
.about__line {
    width: 334px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .about__top-text,
.about__down-text,
.about__line {
    width: 463px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
}

.about__top-text {
  margin-bottom: 40px;
  color: #000;
}

.about__down-text {
  color: #907E82;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .about__down-text {
    margin-bottom: 20px;
  }
}

.about__line {
  color: #907E82;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__line {
    margin-bottom: 40px;
  }
}
.about__btn-modal {
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #D41443;
  background-color: #fff;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.04em;
  border-color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .about__btn-modal {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.04em;
  }
}
.about__btn-modal:hover, .about__btn-modal:focus {
  background-color: #ECEBEB;
}

.about__icon {
  margin-left: 15px;
  stroke: #D41443;
}

.advantages-section {
  background-color: #FFF5F6;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-section {
    padding-top: 40px;
  }
}
.advantages-section .advantages__list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .advantages-section .advantages__list {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section .advantages__list {
    width: 768px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-section .advantages__list {
    width: 1200px;
  }
}
.advantages-section .section-item_1,
.advantages-section .section-item_2 {
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .advantages-section .section-item_1,
.advantages-section .section-item_2 {
    flex: 1;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section .section-item_1,
.advantages-section .section-item_2 {
    margin-bottom: 0px;
  }
}
.advantages-section .weight {
  font-family: Titan One, sans-serif;
  margin-bottom: 20px;
  line-height: 41px;
  font-size: 36px;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .advantages-section .weight {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-section .weight {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 16px;
  }
}
.advantages-section .weight_1::before {
  content: "";
  display: block;
  background: url("/src/images/advantage-pic1.png") no-repeat;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
}
.advantages-section .weight_2::before {
  content: "";
  display: block;
  background: url("/src/images/advantage-pic2.png") no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.advantages-section .weight_3::before {
  content: "";
  display: block;
  background: url("/src/images/advantage-pic3.png") no-repeat;
  width: 46px;
  height: 50px;
  margin-bottom: 16px;
}

.description_1 {
  font-size: 12px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  max-width: 230px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .description_1 {
    font-size: 14px;
    line-height: 24px;
    max-width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .description_1 {
    font-size: 16px;
    line-height: 28px;
    max-width: 288px;
  }
}

.description_2 {
  font-size: 12px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  max-width: 230px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .description_2 {
    font-size: 14px;
    line-height: 24px;
    max-width: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .description_2 {
    font-size: 16px;
    line-height: 28px;
    max-width: 317px;
  }
}

.description_3 {
  font-size: 12px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  max-width: 230px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .description_3 {
    font-size: 14px;
    line-height: 24px;
    max-width: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .description_3 {
    font-size: 16px;
    line-height: 28px;
    max-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .section-item_1 {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section-item_1 {
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .section-item_2 {
    margin-left: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .section-item_2 {
    margin-left: 115px;
  }
}

@media screen and (min-width: 768px) {
  .section-item_3 {
    margin-left: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .section-item_3 {
    margin-left: 80px;
  }
}

.gallery__section {
  background-image: linear-gradient(#fff5f6 61px, #ffffff 61px);
}

.gallery__container {
  padding: 0;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .gallery__section {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(#fff5f6 44px, #ffffff 44px);
  }
  .gallery__thumb {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(2, 44px);
    grid-gap: 2px;
  }
  .gallery__item {
    padding-top: 22px;
  }
  .gallery__item:nth-child(1) {
    grid-column: 1/7;
    grid-row: 2/3;
    padding-top: 0;
  }
  .gallery__item:nth-child(2) {
    grid-column: 2/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(3) {
    grid-column: 2/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(4) {
    padding-top: 0;
    grid-column: 3/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(5) {
    padding-top: 0;
    grid-column: 3/7;
    grid-row: 3/3;
  }
  .gallery__item:nth-child(6) {
    grid-column: 5/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(7) {
    grid-column: 5/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(8) {
    padding-top: 12px;
    grid-column: 6/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(9) {
    padding-top: 12px;
    grid-column: 6/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(10) {
    padding-top: 0;
    grid-column: 7/7;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 768px) {
  .gallery__section {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(#fff5f6 168px, #ffffff 168px);
  }
  .gallery__thumb {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(2, 104px);
    grid-gap: 6px;
  }
  .gallery__item {
    padding-top: 52px;
  }
  .gallery__item:nth-child(1) {
    grid-column: 1/7;
    grid-row: 2/3;
    padding-top: 0;
  }
  .gallery__item:nth-child(2) {
    grid-column: 2/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(3) {
    grid-column: 2/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(4) {
    padding-top: 0;
    grid-column: 3/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(5) {
    padding-top: 0;
    grid-column: 3/7;
    grid-row: 3/3;
  }
  .gallery__item:nth-child(6) {
    grid-column: 5/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(7) {
    grid-column: 5/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(8) {
    padding-top: 26px;
    grid-column: 6/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(9) {
    padding-top: 26px;
    grid-column: 6/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(10) {
    padding-top: 0;
    grid-column: 7/7;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__section {
    padding-top: 60;
    padding-bottom: 60;
  }
  .gallery__thumb {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(2, 138px);
    grid-gap: 8px;
  }
  .gallery__item {
    padding-top: 69px;
  }
  .gallery__item:nth-child(1) {
    grid-column: 1/7;
    grid-row: 2/3;
    padding-top: 0;
  }
  .gallery__item:nth-child(2) {
    grid-column: 2/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(3) {
    grid-column: 2/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(4) {
    padding-top: 0;
    grid-column: 3/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(5) {
    padding-top: 0;
    grid-column: 3/7;
    grid-row: 3/3;
  }
  .gallery__item:nth-child(6) {
    grid-column: 5/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(7) {
    grid-column: 5/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(8) {
    padding-top: 35px;
    grid-column: 6/7;
    grid-row: 1/3;
  }
  .gallery__item:nth-child(9) {
    padding-top: 35px;
    grid-column: 6/7;
    grid-row: 2/3;
  }
  .gallery__item:nth-child(10) {
    padding-top: 0;
    grid-column: 7/7;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 320px) {
  .section__customer-review {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .section__customer-review {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .section__customer-review {
    padding-bottom: 60px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 320px) {
  .swiper {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 968px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  color: transparent;
  background-image: url("/src/images/ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  color: transparent;
  background-image: url("/src/images/house-svg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.customer_review__img {
  display: block;
  margin-bottom: 32px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .customer_review__img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .customer_review__img {
    margin-bottom: 16px;
  }
}

.text-container {
  padding: 30px 55px 30px 55px;
}

.customer-review__text {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #000;
  background-color: #fafafa;
  padding: 4px 37px;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.55;
  background: repeating-linear-gradient(#fafafa, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
  background-position: 100px;
}
@media screen and (min-width: 768px) {
  .customer-review__text {
    font-size: 14px;
    line-height: 2.15;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__text {
    font-size: 16px;
    line-height: 1.85;
  }
}
.customer-review__text::before {
  content: url("/src/images/commas-deck-mob.png");
  z-index: -1;
  position: absolute;
  top: -12px;
  left: 14px;
}
@media screen and (min-width: 768px) {
  .customer-review__text::before {
    content: url("/src/images/commas-tab.png");
    top: -12px;
    left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__text::before {
    content: url("/src/images/commas-deck-mob.png");
    top: -14px;
    left: 0px;
  }
}

.customer-review__bg {
  height: 360px;
  padding: 35px 26px;
  background-color: #fafafa;
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .customer-review__bg {
    height: 165px;
    margin-bottom: 24px;
    padding: 35px 26px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__bg {
    height: 138px;
    margin-bottom: 36px;
    padding: 32px 72px;
  }
}
.customer-review__bg::after {
  content: "...";
  color: #c7133e;
  font-size: 35px;
  display: block;
  position: absolute;
  bottom: 65px;
  left: 130px;
}
@media screen and (min-width: 768px) {
  .customer-review__bg::after {
    bottom: 65px;
    left: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__bg::after {
    bottom: 74px;
    left: 471px;
  }
}

.customer-review__information {
  margin-bottom: 36px;
  color: #000000;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
}
@media screen and (min-width: 768px) {
  .customer-review__information {
    font-size: 16px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__information {
    font-size: 20px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 320px) {
  .contact__background {
    background-image: linear-gradient(to bottom, #ffffff 23%, #FFF5F6 23%);
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact__background {
    background-image: linear-gradient(to bottom, #ffffff 45%, #FFF5F6 45%);
  }
}
@media screen and (min-width: 1200px) {
  .contact__background {
    background-image: linear-gradient(to bottom, #ffffff 20%, #FFF5F6 20%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__list {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
    gap: 32px;
  }
}

.contact__item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-family: "DM Sans", sans-serif;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__item {
    flex-basis: calc((100% - 36px - 64px) / 3);
    padding-left: 33px;
    padding-right: 33px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    flex-basis: calc((100% - 64px) / 3);
    padding-left: 40px;
    padding-right: 40px;
  }
}

.contact__uppertitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #F0D1A5;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .contact__uppertitle {
    width: 80px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__uppertitle {
    width: 73px;
    height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__uppertitle {
    width: 75px;
    height: 28px;
  }
}

.contact__uppertitle--clr-change {
  background-color: #C2E297;
}
@media screen and (min-width: 320px) {
  .contact__uppertitle--clr-change {
    width: 130px;
  }
}
@media screen and (min-width: 768px) {
  .contact__uppertitle--clr-change {
    width: 138px;
  }
}

.contact__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000000;
}

.contact__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
  margin-top: 8px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.04em;
    padding-bottom: 32px;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    padding-right: 40px;
  }
}

.contact__box {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 320px) {
  .contact__box {
    width: 216px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__box {
    width: 160px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__box {
    width: 288px;
  }
}

.contact__time {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #FFA5BA;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__time {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__time {
    font-size: 16px;
  }
}

.contact__link {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #D46443;
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}

.contact__btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .contact__btn-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__btn-list {
    gap: 12px;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .btn-item:first-child {
    margin-bottom: 10px;
  }
}

.contact__btn {
  display: block;
  width: 161px;
  height: 44px;
  font-family: "DM Sans", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;
}

.contact__btn--left {
  color: #ffffff;
  background-color: #D41443;
}
@media screen and (min-width: 768px) {
  .contact__btn--left {
    width: 191px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__btn--left {
    width: 198px;
    height: 44px;
  }
}

.contact__btn--right {
  color: #D41443;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact__btn--right {
    width: 174px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__btn--right {
    width: 168px;
    height: 44px;
  }
}
.contact__btn--right:hover, .contact__btn--right:focus {
  background-color: #ECEBEB;
}

.contact__btn--left-icon {
  stroke: #ffffff;
}

.contact__btn--right-icon {
  stroke: #D41443;
}

.footer {
  background-color: #FFF5F6;
  padding-top: 20px;
  padding-bottom: 3px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
  }
}

.blocks {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .blocks {
    padding-bottom: 60px;
  }
}

.title-block {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .title-block {
    margin-bottom: 0px;
  }
}

.title-div {
  width: 232px;
}
@media screen and (min-width: 768px) {
  .title-div {
    width: 340px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .title-div {
    min-width: 478px;
  }
}

.title-div__text {
  font-family: "Titan One", sans-serif;
}

.text--pale {
  color: #FFA5BA;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 0.9;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .text--pale {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 0.9;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .text--pale {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 0.9;
  }
}

.text--bright {
  color: #D41443;
  font-size: 34px;
  line-height: 0.9;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .text--bright {
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .text--bright {
    font-size: 58px;
    line-height: 0.9;
    letter-spacing: 0.06em;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.social__item {
  margin-right: 28px;
  width: 32px;
  height: 32px;
}
.social__item:last-child {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .social__item {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  }
  .social__item:last-child {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .social__item {
    width: 34px;
    height: 34px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FEA5BB;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #D41443;
}

.call {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .call {
    margin-bottom: 0px;
  }
}

.call__phone {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .call__phone {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .call__phone {
    font-size: 16px;
  }
}

.phone--bright {
  color: #D41443;
}

.copyright {
  margin-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .copyright {
    margin-bottom: 7px;
  }
}

.copyright {
  padding-top: 16px;
  border-top: 1px solid #E1E1E1;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907E82;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .copyright {
    padding-top: 8px;
    line-height: 1.9;
  }
}

@media screen and (min-width: 768px) {
  br {
    display: none;
  }
}

.button-up {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 999;
  border: none;
  background-color: #ECEBEB;
  cursor: pointer;
  border-radius: 25%;
  transform: rotate(-90deg);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-up:hover, .button-up:focus {
  background-color: #E18298;
}
@media screen and (min-width: 768px) {
  .button-up {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .button-up {
    width: 60px;
    height: 60px;
  }
}

.button-up__icon {
  stroke: #D41443;
}

.button-up.no-transparency {
  display: block;
  opacity: 1;
}

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 95, 135, 0.747);
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden-popup {
  opacity: 0;
  pointer-events: none;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 35px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #D41443;
  background-image: linear-gradient(351deg, rgba(235, 176, 48, 0.6) 0%, rgba(230, 47, 161, 0.4) 50%, rgba(238, 137, 145, 0.6) 100%), url(../images/baner-popup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%) perspective(600px) translate(0px, 0%) rotateX(0deg);
  transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden-popup .modal-body {
  transform: translate(-50%, -50%) perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.modal-body__title {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0 0 12px 0;
  color: #D41443;
}
.modal-body__thumb {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin: 0 0 10px 0;
}
.modal-body__thumb:nth-child(n+5) {
  margin: 0 0 30px 0;
}
.modal-body__note {
  background-color: #F0D1A5;
  text-align: center;
  border-radius: 15px;
  opacity: 85%;
}
.modal-body__field {
  height: 40px;
  padding: 10px 0 10px 42px;
  border: 1px solid #fff;
  opacity: 85%;
  border-radius: 15px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body__field:focus, .modal-body__field:hover {
  border: 1px solid #D41443;
}
.modal-body__label {
  padding: 0 0 4px 0;
}
.modal-body__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus + .modal__label > .modal-body__icon, .modal__field:hover + .modal__label > .modal-body__icon {
  fill: #907E82;
}
.modal-body__textarea {
  width: 100%;
  height: 120px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px 12px 16px;
  resize: none;
  color: #907E82;
  border: 1px solid #fff;
  opacity: 85%;
  border-radius: 15px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body__textarea:focus, .modal-body__textarea:hover {
  border: 1px solid #D41443;
}
.modal-body__row {
  max-width: 160px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 480px) {
  .modal-body {
    width: 450px;
    border-radius: 15px;
  }
}
@media screen and (min-width: 768px) {
  .modal-body {
    width: 534px;
    border-radius: 15px;
  }
}
.modal-body__text {
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.modal-body__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  stroke: rgb(102, 93, 93);
  border-radius: 50%;
  border: 1px solid rgba(175, 95, 135, 0.747);
  cursor: pointer;
  background-color: #F0D1A5;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:focus, .modal__btn:hover {
  stroke: #D41443;
  border-color: #FFA5BA;
}
.modal__btn .btn__icon {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.signing-agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.signing-agreement__field {
  margin: 0 8px 0 0;
}
.signing-agreement__label {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .signing-agreement__label {
    font-size: 11px;
  }
}
@media screen and (min-width: 768px) {
  .signing-agreement__label {
    font-size: 14px;
  }
}
.signing-agreement__icon {
  top: 5px;
  left: 0;
  margin: 0 10px 0 0;
  border: 2px solid #fff;
  border-radius: 2px;
  fill: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.signing-agreement__field:checked + .signing-agreement__label > .signing-agreement__icon {
  background-color: #D41443;
  border-color: #D41443;
  fill: #fff;
}
.signing-agreement__link {
  text-decoration: underline;
  margin: 0 0 0 5px;
  color: #D41443;
}

.btn-submit {
  height: 44px;
  padding-left: 43px;
  padding-right: 43px;
  border: none;
  border-radius: 22px;
  background-color: #ffffff;
  color: #D41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover, .btn-submit:focus {
  background-color: #ECEBEB;
}/*# sourceMappingURL=index.css.map */