@import "~node_modules/modern-normalize/modern-normalize.css";
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 60px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .header__container {
    padding-top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 32px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
  }
}

.header__box-btn--tablet {
  display: flex;
  align-items: center;
}

.header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1200px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button--close {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 1199px) {
  .header__box {
    position: absolute;
    top: -100%;
    right: 0;
    transform: translateY(0);
    min-height: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
    background-color: #E17992;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__box.is-hidden {
    transform: translateY(100%);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__box {
    width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__box {
    width: 254px;
  }
}
@media screen and (min-width: 1200px) {
  .header__box {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
}

.header__button--basic {
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: #ffffff;
  color: #D41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}
.header__button--basic:hover, .header__button--basic:focus {
  background-color: #ECEBEB;
}

@media screen and (min-width: 320px) {
  .header__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 43px;
    padding-right: 43px;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    padding-left: 37px;
    padding-right: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    margin-left: 141px;
    margin-bottom: 0;
  }
}

.header__button--tablet {
  display: none;
  margin-left: 32px;
  padding-left: 37px;
  padding-right: 37px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__button--tablet {
    display: block;
  }
}

.header__button--arrow {
  margin-left: 12px;
  stroke: #D41443;
}

@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    gap: 35px;
  }
}

@media screen and (max-width: 1199px) {
  .header__item {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E18298;
  }
  .header__item:not(:last-child) {
    margin-bottom: 22px;
  }
  .header__item:first-child {
    border-top: 1px solid #E18298;
  }
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: 0.03;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}
.header__link:hover, .header__link:focus {
  color: #D41443;
}
@media screen and (max-width: 1199px) {
  .header__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.hero {
  background-color: #FFB8CA;
  background-image: url(../images/hero-icecream-mob.png), url(../images/circle-mob.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 32px) bottom, right 83px;
  background-size: 171px, 284px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-icecream-mob-2x.png), url(../images/circle-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/girl-tab.png), url(../images/hero-icecream-tab.png), url(../images/circle-tab.png);
    background-position: calc(546px + (100% + 190px - 786px) / 2) calc(100% - 1px), calc(322px + (100% + 143px - 786px) / 2) bottom, calc(248px + (100% + 335px - 786px) / 2) 43px;
    background-size: 190px, 143px, 335px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/girl-tab-2x.png), url(../images/hero-icecream-tab-2x.png), url(../images/circle-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/girl-deck.png), url(../images/hero-icecream-deck.png), url(../images/circle-deck.png);
    background-position: calc(880px + (100% + 304px - 1200px) / 2) bottom, calc(636px + (100% + 236px - 1200px) / 2) bottom, calc(517px + (100% + 534px - 1200px) / 2) 43px;
    background-size: 304px, 236px, 534px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/girl-deck-2x.png), url(../images/hero-icecream-deck-2x.png), url(../images/circle-deck-2x.png);
  }
}

.hero__container {
  position: relative;
  padding-top: 136px;
  padding-bottom: 158px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 10px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Titan One", sans-serif;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 218px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 277px;
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 24px;
  }
}

.hero__title-part {
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .hero__title-part {
    font-size: 34px;
    line-height: 90.5%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title-part {
    font-size: 58px;
  }
}

.hero__link-set {
  display: flex;
}

.hero__link-set-item {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__link-set-item {
    margin-right: 16px;
  }
}
.hero__link-set-item:last-child {
  margin-right: 0;
}

.hero__ancor-link {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  height: 24px;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .hero__ancor-link {
    height: 40px;
    padding-right: 22.63px;
    padding-left: 23.66px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__ancor-link--violet {
  color: #ffffff;
  background-color: #D41443;
}

.hero__ancor-link--white {
  color: #D41443;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__ancor-link--white:hover, .hero__ancor-link--white:focus {
  background-color: #ECEBEB;
}

.hero__box {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__box {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .hero__box {
    display: flex;
  }
}

.hero__jug-photo {
  width: 152px;
}
@media screen and (min-width: 1200px) {
  .hero__jug-photo {
    width: 213px;
  }
}

.hero__text-box {
  padding-top: 68px;
}

.hero__text {
  margin-bottom: 7px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
  max-width: 114px;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 140%;
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.hero__arrow {
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../images/arrow-right-hero-tab.png);
  background-size: 18px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__arrow {
    background-image: url(../images/arrow-right-hero-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero__arrow {
    width: 26px;
    height: 26px;
    background-image: url(../images/arrow-right-hero-deck.png);
    background-size: 26px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__arrow {
    background-image: url(../images/arrow-right-hero-deck-2x.png);
  }
}

.hero__amounts {
  display: none;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 768px) {
  .hero__amounts {
    display: block;
    top: 0px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__amounts {
    display: block;
    top: 5px;
    right: 16px;
  }
}

.hero__amounts-item {
  position: relative;
  margin-bottom: 16px;
}
.hero__amounts-item:last-child {
  margin-bottom: 0;
}

.hero__amounts-item--first {
  padding-top: 2px;
  padding-right: 10px;
}
@media screen and (min-width: 1200px) {
  .hero__amounts-item--first {
    padding-top: 4px;
    padding-right: 18px;
  }
}

.hero__amounts-item--second {
  padding-top: 1px;
  padding-right: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__amounts-item--second {
    padding-top: 3px;
    padding-right: 18px;
  }
}

.hero__number {
  position: relative;
  font-family: "Titan One";
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 1200px) {
  .hero__number {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__number-description {
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__number-description {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero__number-circle-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1200px) {
  .hero__number-circle-icon {
    width: 30px;
    height: 30px;
  }
}

.hero__number-circle {
  fill: #ffffff;
}

.about {
  background: #FFF5F6;
}

.about__section {
  text-align: center;
  height: 364px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .about__section {
    width: 334px;
    margin-left: 32px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__section {
    padding-top: 90px;
    width: 463px;
    margin-left: 100px;
    margin-right: 0;
  }
}

.about__label {
  text-align: center;
  color: #FFA5BA;
  margin-bottom: 15px;
  font-family: "Titan One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.about__title {
  text-align: center;
  color: #D41443;
  font-family: "Titan One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.about__wrapper-box {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .about__wrapper-box {
    background-repeat: no-repeat;
    background-size: 87% auto;
    background-position: 50% 65%;
    background-image: url("../images/spilled-milk-mob.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 1.9), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about__wrapper-box {
    background-image: url("../images/spilled-milk-mob-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper-box {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrapper-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/spilled-milk-deck.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1.9), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__wrapper-box {
    background-image: url("../images/spilled-milk-deck-2x.png");
  }
}

.about__wrapper-pic {
  text-align: center;
}

.about__top-text {
  text-align: left;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  color: #000;
}
@media screen and (min-width: 768px) {
  .about__top-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__top-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
}

.about__down-text {
  text-align: left;
  color: #907E82;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about__down-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__down-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

.about__line {
  text-align: left;
  color: #907E82;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__line {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__line {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

.about__btn-modal {
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #D41443;
  background-color: #fff;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.04em;
  border-color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .about__btn-modal {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.04em;
  }
}

.about__icon {
  margin-left: 15px;
  background-color: #000;
  fill: #D41443;
}

.advantages-section {
  display: flex;
  flex-direction: row;
}
.advantages-section .advantages__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages-section .advantages__list {
    flex-direction: row;
  }
}
.advantages-section .section-item_1,
.advantages-section .section-item_2 {
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .advantages-section .section-item_1,
.advantages-section .section-item_2 {
    flex: 1;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section .section-item_1,
.advantages-section .section-item_2 {
    margin-bottom: 0px;
  }
}
.advantages-section .weight {
  font-family: Titan One, sans-serif;
  margin-bottom: 4px;
  line-height: 41px;
  font-size: 36px;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .advantages-section .weight {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-section .weight {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 16px;
  }
}
.advantages-section .weight_1::before {
  content: "";
  display: block;
  background: url("/src/images/advantage-pic1.png") no-repeat;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
}
.advantages-section .weight_2::before {
  content: "";
  display: block;
  background: url("/src/images/advantage-pic2.png") no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.advantages-section .weight_3::before {
  content: "";
  display: block;
  background: url("/src/images/advantage-pic3.png") no-repeat;
  width: 44px;
  height: 50px;
  margin-bottom: 16px;
}

.description_1 {
  font-size: 12px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  max-width: 230px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .description_1 {
    font-size: 14px;
    line-height: 24px;
    max-width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .description_1 {
    font-size: 16px;
    line-height: 28px;
    max-width: 288px;
  }
}

.description_2 {
  font-size: 12px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  max-width: 230px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .description_2 {
    font-size: 14px;
    line-height: 24px;
    max-width: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .description_2 {
    font-size: 16px;
    line-height: 28px;
    max-width: 317px;
  }
}

.description_3 {
  font-size: 12px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  max-width: 230px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .description_3 {
    font-size: 14px;
    line-height: 24px;
    max-width: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .description_3 {
    font-size: 16px;
    line-height: 28px;
    max-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .section-item_1 {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section-item_1 {
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .section-item_2 {
    margin-left: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .section-item_2 {
    margin-left: 115px;
  }
}

@media screen and (min-width: 768px) {
  .section-item_3 {
    margin-left: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .section-item_3 {
    margin-left: 80px;
  }
}

.gallery__section {
  background-image: linear-gradient(#fff5f6 0px, #fff5f6 149px, #ffffff 149px, #ffffff 550px);
}

.gallery__container {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    margin-left: 94px;
    margin-right: 94px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 320px) {
  .swiper {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 968px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(16, 211, 65, 0.589);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.customer_review__img {
  display: block;
  margin-bottom: 16px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .customer_review__img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .customer_review__img {
    margin-bottom: 32px;
  }
}

.text-container {
  padding: 30px 55px 30px 55px;
}

.customer-review__text {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #000;
  background-color: #fafafa;
  margin-bottom: 36px;
  padding: 30px 55px 30px 55px;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.55;
  height: 320px;
  background: repeating-linear-gradient(#fafafa, #fafafa 41px, #e1e1e1 41px, #e1e1e1 43px);
  background-position: 100px;
}
@media screen and (min-width: 768px) {
  .customer-review__text {
    height: unset;
    padding: 40px 55px 40px 50px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 2.15;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__text {
    height: 138px;
    padding: 45px 109px 45px 109px;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 1.85;
  }
}
.customer-review__text::after {
  content: "...";
  color: #c7133e;
  font-size: 35px;
  display: block;
  position: absolute;
  bottom: -56px;
  left: 131px;
}
@media screen and (min-width: 768px) {
  .customer-review__text::after {
    bottom: -45px;
    left: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__text::after {
    bottom: -42px;
    left: 471px;
  }
}
.customer-review__text::before {
  content: url("/src/images/commas-deck-mob.png");
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 15px;
}
@media screen and (min-width: 768px) {
  .customer-review__text::before {
    content: url("/src/images/commas-tab.png");
    top: 20px;
    left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__text::before {
    content: url("/src/images/commas-deck-mob.png");
    top: 30px;
    left: 72px;
  }
}

.customer-review__information {
  margin-bottom: 36px;
  color: #000000;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
}
@media screen and (min-width: 768px) {
  .customer-review__information {
    font-size: 16px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .customer-review__information {
    font-size: 20px;
    line-height: 1.86;
  }
}

.section__background {
  background-image: linear-gradient(to bottom, #f5f5f5 302px, #FFF5F6 1060px);
  /*background-color: #FFF5F6;
  width: 100%;*/
}
@media screen and (min-width: 768px) {
  .section__background {
    background-image: linear-gradient(to bottom, #f5f5f5 298px, #FFF5F6 290px);
  }
}
@media screen and (min-width: 1200px) {
  .section__background {
    background-image: linear-gradient(to bottom, #f5f5f5 99px, #FFF5F6 499px);
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    /*background-color: green;*/
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    /*background-color: blueviolet;*/
  }
}

/* @mixin mobile {
        max-width: 480px;
        }*/
/* @mixin tablet {
        display: flex;
        background-color: blueviolet;

    }*/
/*@mixin desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }*/
.contact__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*align-items:flex-start;
  justify-content: flex-start;*/
  width: 280px;
  /* width: 100%;*/
  /*max-width: 480px;*/
  height: 412px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 20px;
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
@media screen and (min-width: 768px) {
  .contact__card {
    width: 100%;
    height: 528px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__card {
    width: 368px;
    height: 538px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .last__card {
    margin-right: 0;
  }
}

.contact__list {
  margin-top: 0;
  margin-bottom: 0;
}

.contact__position__cafe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #F0D1A5;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contact__position__cafe {
    width: 73px;
    height: 28px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact__position__cafe {
    width: 75px;
    margin-bottom: 32px;
  }
}

.contact__position__foodtruck {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  width: 130px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  background-color: #C2E297;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contact__position__foodtruck {
    width: 138px;
    height: 28px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact__position__foodtruck {
    margin-bottom: 32px;
  }
}

.contact__items {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contact__items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact__items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}

.contact__line {
  width: 216px;
  margin-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .contact__line {
    width: 160px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__line {
    width: 288px;
  }
}

.contact__info {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
  margin-top: 8px;
  /*margin-bottom: 24px;*/
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contact__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.04em;
    padding-bottom: 32px;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    margin-top: 8px;
  }
}

.contact__items__time {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #FFA5BA;
  margin-top: 0;
  /*&:first-child {
          margin-bottom: 8px;}*/
}
@media screen and (min-width: 768px) {
  .contact__items__time {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact__items__time {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}

.gap {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .gap {
    margin-bottom: 12px;
  }
}

.contact__items__last {
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contact__items__last {
    padding-bottom: 32px;
  }
}

.contact__link {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #D46443;
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}

.contact__link {
  display: block;
}

.contact__btn__together {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .contact__btn__together {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__btn__together {
    gap: 12px;
    margin-top: 60px;
  }
}

.contact__btn {
  display: block;
  width: 161px;
  height: 44px;
  margin-top: 10px;
  font-family: "DM Sans", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;
}

.btn-left {
  color: #ffffff;
  background-color: #D41342;
}
@media screen and (min-width: 768px) {
  .btn-left {
    width: 191px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-left {
    width: 198px;
    height: 44px;
  }
}

.btn-right {
  color: #D41443;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .btn-right {
    width: 174px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-right {
    width: 168px;
    height: 44px;
  }
}
.btn-right:hover, .btn-right:focus {
  background-color: #ECEBEB;
}

.icon__btn-left {
  stroke: #ffffff;
}

.icon__btn-right {
  stroke: #D41443;
}

.footer {
  background-color: #FFF5F6;
}

.section.blocks {
  padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .section.blocks {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.title-block {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .title-block {
    margin-bottom: 0px;
  }
}

.title-div {
  width: 232px;
}
@media screen and (min-width: 768px) {
  .title-div {
    width: 340px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .title-div {
    min-width: 478px;
  }
}

.title-div__text {
  font-family: "Titan One", sans-serif;
}

.text--pale {
  color: #FFA5BA;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 0.9;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .text--pale {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 0.9;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .text--pale {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 0.9;
  }
}

.text--bright {
  color: #D41443;
  font-size: 34px;
  line-height: 0.9;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .text--bright {
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .text--bright {
    font-size: 58px;
    line-height: 0.9;
    letter-spacing: 0.06em;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.social__item {
  margin-right: 28px;
  width: 32px;
  height: 32px;
}
.social__item:last-child {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .social__item {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  }
  .social__item:last-child {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .social__item {
    width: 34px;
    height: 34px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FEA5BB;
}
.social__link:hover, .social__link:focus {
  background-color: #D41443;
}

.call {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .call {
    margin-bottom: 0px;
  }
}

.call__phone {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .call__phone {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .call__phone {
    font-size: 16px;
  }
}

.phone--bright {
  color: #D41443;
}

hr {
  margin: 0;
  margin-bottom: 16px;
  border-top: 1px solid #FFF5F6;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  hr {
    margin-bottom: 7px;
  }
}

.copyright__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907E82;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .copyright__text {
    line-height: 1.9;
  }
}

@media screen and (min-width: 768px) {
  br {
    display: none;
  }
}

#button-up {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ECEBEB;
  cursor: pointer;
  border-radius: 25%;
  transform: rotate(-90deg);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#button-up:hover, #button-up:focus {
  background-color: #E18298;
}

.button-up__icon {
  stroke: #D41443;
}

.backdrop {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(175, 95, 135, 0.747);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden-popup {
  opacity: 0;
  pointer-events: none;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 460px;
  height: 586px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-radius: 4px;
  color: #D41443;
  background-image: linear-gradient(351deg, rgb(235, 176, 48) 0%, rgba(230, 47, 161, 0.3617822129) 50%, rgba(238, 137, 145, 0.4234068627) 100%), url(../images/baner-popup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal-body {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-body__title {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0 0 12px 0;
  color: #D41443;
}
.modal-body__thumb {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin: 0 0 10px 0;
}
.modal-body__thumb:nth-child(5) {
  margin: 0 0 20px 0;
}
.modal-body__field {
  height: 40px;
  padding: 10px 0 10px 42px;
  border: 1px solid #FFA5BA;
  border-radius: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body__field:focus, .modal-body__field:hover {
  border: none;
  outline: 1px solid #FFA5BA;
}
.modal-body__label {
  padding: 0 0 4px 0;
}
.modal-body__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus + .modal__label > .modal-body__icon, .modal__field:hover + .modal__label > .modal-body__icon {
  fill: #907E82;
}
.modal-body__textarea {
  width: 100%;
  height: 120px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px 12px 16px;
  resize: none;
  color: #907E82;
  border-color: #FFA5BA;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body__textarea:focus, .modal-body__textarea:hover {
  border: 1px solid #FFA5BA;
}
.modal-body__row {
  max-width: 200px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 320px) and (man-width: 767px) {
  .modal-body {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal-body {
    width: 534px;
    height: 800px;
  }
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  stroke: rgb(102, 93, 93);
  border-radius: 50%;
  border: 1px solid rgba(175, 95, 135, 0.747);
  cursor: pointer;
  background-color: #F0D1A5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:focus, .modal__btn:hover {
  stroke: #D41443;
  border-color: #FFA5BA;
}
.modal__btn .btn__icon {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.signing-agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.signing-agreement__field {
  margin: 0 8px 0 0;
}
.signing-agreement__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .signing-agreement__label {
    font-size: 14px;
  }
}
.signing-agreement__icon {
  top: 5px;
  left: 0;
  margin: 0 10px 0 0;
  border: 2px solid #fff;
  border-radius: 2px;
  fill: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.signing-agreement__field:checked + .signing-agreement__label > .signing-agreement__icon {
  background-color: #D41443;
  border-color: #D41443;
  fill: #fff;
}
.signing-agreement__link {
  margin: 0 0 0 5px;
  color: #C2E297;
}

.btn-submit {
  padding: 10px 55px 10px 55px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #907E82;
  background-color: #ffffff;
  border: blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-submit:focus, .btn-submit:hover {
  background-color: #D41443;
  color: #fff;
}/*# sourceMappingURL=index.css.map */