<section class="section about">
  <div class="container container__about">
    <p class="about__label">tradition and love</label>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__wrapper-box">
      <div class="about__wrapper-pic">
       <picture class="about__cow-pic">
    <source srcset="./images/cow-mob.png  1x,
                    ./images/cow-mob-2x.png  2x"
                    media="(max-width:767px)"/>
                


    <source srcset="./images/cow-tab.png  1x,
                    ./images/cow-tab-2x.png  2x"
                    media="(max-width:1199px)"/>
          

    <source srcset="./images/cow-deck.png  1x,
                    ./images/cow-deck-2x.png  2x"
                    media="(min-width:1200px)"/>                   
               
<img
                    src="./images/cow-tab.png"
                    alt="cow"/>
       </picture>
      </div>
      <section class="about__section">
        
      <h3 class="about__top-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </h3>
      <p class="about__down-text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. 

    
        
        
        <p class="about__line">Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan. </p>
      </p>
      <button class="about__btn-modal" type="button">
        Read more
        <svg class="about__icon" width="10" height="10">
          <use href="./images/icons.svg#arrow"></use>
        </svg>
    </button>
      </section>   
    </div>
  </div>
</section>
