<section class="section advantages-section">
  <div class="container">
    <ul class="advantages__list">
      <li class="section-item">
        <div class="weight weight_1">
          <span>721</span>
        </div>
        <p class="description">
          <span
            >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
      <li class="section-item">
        <div class="weight weight_2">
          <span>16kg</span>
        </div>
        <p class="description">
          <span
            >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
      <li class="section-item">
        <div class="weight weight_3">
          <span>84</span>
        </div>
        <p class="description">
          <span
            >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
    </ul>
  </div>
</section>
