<section class="section advantages-section" id="howmade">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="section-item_1">
        <div class="weight weight_1">
          <span>721</span>
        </div>
        <p class="description_1">
          <span
            >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
      <li class="section-item_2">
        <div class="weight weight_2">
          <span>16kg</span>
        </div>
        <p class="description_2">
          <span
            >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
      <li class="section-item_3">
        <div class="weight weight_3">
          <span>84</span>
        </div>
        <p class="description_3">
          <span
            >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
    </ul>
  </div>
</section>
