<section class="advantages-section">
    <div class="section-item">
        <img class="icon" srcset="/src/images/advantage-pic1.png, /src/images/advantage-pic1-2x.png 2x" alt="pick1" />
        <div class="weight">
            <span>721</span>
        </div>
        <p class="description">
            <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
        </p>
    </div>
    <div class="section-item">
        <img class="icon" srcset="/src/images/advantage-pic2.png, /src/images/advantage-pic2-2x.png 2x" alt="pick2" />
        <div class="weight">
            <span>16kg</span>
        </div>
        <p class="description">
            <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
        </p>
    </div>
    <div class="section-item">
        <img class="icon" srcset="/src/images/advantage-pic3.png, /src/images/advantage-pic3-2x.png 2x" alt="pick3" />
        <div class="weight">
            <span>84</span>
        </div>
        <p class="description">
            <span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
        </p>
    </div>
</div>