<section class="section section-background">
    <div class="container contact">
        <h2 hidden>Contacts</h2>
        <ul class="contact__list">
            <li class="contact__item">
                <div class="contact__box">
                <h3 class="contact__uppertitle">CAFE</h3>
                <p class="contact__subtitle">Chicago</p>
                <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contact__list-time contact__box">
                    <li class="contact__item-time">
                        <p class="contact__subtitle">Monday - Friday</p>
                        <p class="contact__time"><time>06:00 AM</time> - <time>10:00 PM</time></p>
                    </li>
                    <li class="contact__item-time">
                        <p class="contact__subtitle">Saturday - Sunday</p>
                        <p class="contact__time"><time>08:00 AM</time> - <time>16:00 PM</time></p>
                    </li>
                </ul>
                <ul class="contact__list-contact">
                    <li>
                        <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a>                        
                    </li>
                    <li>
                        <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>                  
            </li>
            <li class="contact__item">
                <div class="contact__box">
                    <h3 class="contact__uppertitle contact__uppertitle--clr-change">FOODTRUCK</h3>
                <p class="contact__subtitle">Los Angeles</p>
                <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                
                </div>
                <ul class="contact__list-time contact__box">
                    <li class="contact__item-time">
                        <p class="contact__subtitle">Monday - Friday</p>
                        <p class="contact__time"><time>06:00 AM</time> - <time>10:00 PM</time></p>
                    </li>
                    <li class="contact__item-time">
                        <p class="contact__subtitle">Saturday - Sunday</p>
                        <p class="contact__time"><time>08:00 AM</time> - <time>16:00 PM</time></p>
                    </li>
                </ul>
                <ul class="contact__list-contact">
                    <li>
                        <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a>                        
                    </li>
                    <li>
                        <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>  
            </li>
            <li class="contact__item">                
                <div class="contact__box"><h3 class="contact__uppertitle">CAFE</h3>
                <p class="contact__subtitle">New York</p>
                <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contact__list-time contact__box">
                    <li class="contact__item-time">
                        <p class="contact__subtitle">Monday - Friday</p>
                        <p class="contact__time"><time>06:00 AM</time> - <time>10:00 PM</time></p>
                    </li>
                    <li class="contact__item-time">
                        <p class="contact__subtitle">Saturday - Sunday</p>
                        <p class="contact__time"><time>08:00 AM</time> - <time>16:00 PM</time></p>
                    </li>
                </ul>
                <ul class="contact__list-contact">
                    <li>
                        <a class="contact__link" href="tel:+610383766284">+61(0) 383 766 284</a>                        
                    </li>
                    <li>
                        <a class="contact__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>  
            </li>
        </ul>
        

    <ul class="contact__btn-list">
        <li class="btn-item"><button type="button" class="contact__btn contact__btn--left">Our Locations &nbsp<svg
                    class="contact__btn--left-icon" width="6" height="8">
                    <use href="./images/icons.svg#arrow"></use>
                </svg></button></li>
        <li class="btn-item"><button type="button" class="contact__btn contact__btn--right">Franchise&nbsp<svg
                    class="contact__btn--right-icon" width="6" height="8">
                    <use href="./images/icons.svg#arrow"></use>
                </svg>
            </button></li>

    </ul>
</section>
