<section id="contact" class="section contact__background">
  <div class="container contact">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact__list">
      <li class="contact__item">
        <div>
          <div class="contact__box">
            <h3 class="contact__uppertitle">CAFE</h3>
            <p class="contact__subtitle">Chicago</p>
            <p class="contact__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contact__list-time contact__box">
            <li class="contact__item-time">
              <p class="contact__subtitle">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contact__item-time">
              <p class="contact__subtitle">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list-contact">
            <li>
              <a class="contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contact__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contact__item">
        <div>
          <div class="contact__box">
            <h3 class="contact__uppertitle contact__uppertitle--clr-change">
              FOODTRUCK
            </h3>
            <p class="contact__subtitle">Los Angeles</p>
            <p class="contact__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contact__list-time contact__box">
            <li class="contact__item-time">
              <p class="contact__subtitle">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contact__item-time">
              <p class="contact__subtitle">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list-contact">
            <li>
              <a class="contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contact__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contact__item">
        <div>
          <div class="contact__box">
            <h3 class="contact__uppertitle">CAFE</h3>
            <p class="contact__subtitle">New York</p>
            <p class="contact__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="contact__list-time contact__box">
            <li class="contact__item-time">
              <p class="contact__subtitle">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contact__item-time">
              <p class="contact__subtitle">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list-contact">
            <li>
              <a class="contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contact__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="contact__btn-list">
      <li class="btn-item">
        <button type="button" class="contact__btn contact__btn--left" data-open-loc>
          Our Locations &nbsp;
          <svg class="contact__btn--left-icon" width="6" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="btn-item">
        <button type="button" class="contact__btn contact__btn--right">
          Franchise &nbsp;
          <svg class="contact__btn--right-icon" width="6" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div> 
  <div class="backdrop is-hidden-loc" data-loc>
    <div class="locations-modal"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12961781.941321747!2d-105.18710020615497!3d37.519767199146884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2scz!4v1658942560972!5m2!1sru!2scz" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <button class="btn modal__btn" type="button" data-close-loc>
        <svg class="btn__icon">
          <use href="./images/icons.svg#burger-close"></use>
        </svg>
      </button>
    </div>
</div>
</section>