<section class="section section-background">
    <div class="container contact">
        <h3 hidden>Contacts</h3>
        <div class="card">
            <ul class="card-list">
                <p class="position-cafe">CAFE</p>
                <li class="card-items card-line">Chicago
                    <p class="card-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="card-items">Monday - Friday<p class="card-items__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="card-items card-line card-items__last">Saturday - Sunday<p
                        class="card-items__time">08:00 AM -
                        16:00 PM</p>
                </li>
                <div class="">
                    <a href="tel:+61(0) 383 766 284" class="contact-link link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contact-link link">noreply@envato.com</a>
                </div>
            </ul>
        </div>
        <div class="card">
            <ul class="card-list">
                <p class="position-foodtruck">FOODTRUCK</p>
                <li class="card-items card-line">Los Angeles
                    <p class="card-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="card-items">Monday - Friday<p class="card-items__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="card-items card-line card-items__last">Saturday - Sunday<p
                        class="card-items__time">08:00 AM -
                        16:00 PM</p>
                </li>
                <div class="">
                    <a href="tel:+61(0) 383 766 284" class="contact-link link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contact-link link">noreply@envato.com</a>
                </div>
            </ul>
        </div>
        <div class="card">
            <ul class="card-list">
                <p class="position-cafe">CAFE</p>
                <li class="card-items card-line">New York
                    <p class="card-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="card-items">Monday - Friday<p class="card-items__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="card-items card-line card-items__last">Saturday - Sunday<p
                        class="card-items__time">08:00 AM -
                        16:00 PM</p>
                </li>
                <div class="">
                    <a href="tel:+61(0) 383 766 284" class="contact-link link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contact-link link">noreply@envato.com</a>
                </div>
            </ul>
        </div>
    </div>

    <ul class="btn-list">
        <li class="btn-item"><button type="button" class="btn btn-left">Our Locations &nbsp<svg
                    class="ico-btn__left" width="6" height="8">
                    <use href="./images/icons.svg#arrow"></use>
                </svg></button></li>
        <li class="btn-item"><button type="button" class="btn btn-right">Franchise&nbsp<svg
                    class="icon-btn__right" width="6" height="8">
                    <use href="./images/icons.svg#arrow"></use>
                </svg>
            </button></li>

    </ul>
</section>