<section class="section">
  <div class="container">
    <div class="cutomer-review__container">
      <ul></ul>
      <p>
        🍦 Вкусное нежное мороженое с шоколадным привкусом или как со вкусом какао. Не насыщенного
        шоколадного оттенка, а так, средне, но мороженое приятное, нам понравилось.
      </p>
    </div>

    <!-- <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <p>
              🍦 Вкусное нежное мороженое с шоколадным привкусом или как со вкусом какао. Не
              насыщенного шоколадного оттенка, а так, средне, но мороженое приятное, нам
              понравилось.
            </p>
          </li>
          <li class="splide__slide">
            <p>
              🍦 Вкусное нежное мороженое с шоколадным привкусом или как со вкусом какао. Не
              насыщенного шоколадного оттенка, а так, средне, но мороженое приятное, нам
              понравилось.
            </p>
          </li>
          <li class="splide__slide">
            <p>
              🍦 Вкусное нежное мороженое с шоколадным привкусом или как со вкусом какао. Не
              насыщенного шоколадного оттенка, а так, средне, но мороженое приятное, нам
              понравилось.
            </p>
          </li>
        </ul>
      </div>
    </section> -->
  </div>
</section>
