<section class="section">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="customer_review__container swiper-slide">
          <picture>
            <source srcset="./images/testimonials1.jpg 1x, ./images/testimonials1-2x.jpg 2x" />
            <img
              class="customer_review__img"
              src="./images/testimonials1.jpg"
              alt="Emily, Los Angeles"
              width="85px"
            />
          </picture>
          <p class="customer-review__text">
            🍦 It's freshly made ice cream. The best place to have ice cream and other goodies in
            Los Angeles. The quality is good and worth its price. Hope the price don't increase.
            Thank you for the happiness.
          </p>
          <p class="customer-review__information">Emily, Los Angeles</p>
        </div>
        <div class="customer_review__container swiper-slide">
          <picture>
            <source srcset="./images/testimonials2.jpg 1x, ./images/testimonials2-2x.jpg 2x" />
            <img
              class="customer_review__img"
              src="./images/testimonials2.jpg"
              alt="Hailey, Chicago"
              width="85px"
            />
          </picture>
          <p class="customer-review__text">
            I am not a big fan of sweets. But there are certain sweets that make me happy every day.
            I am very particular about these, especially chocolates and ice creams. This place has
            been ranked as the best tourist spot in Chicago. So I'll be sure to come another day.
          </p>
          <p class="customer-review__information">Hailey, Chicago</p>
        </div>
        <div class="customer_review__container swiper-slide">
          <picture>
            <source srcset="./images/testimonials3.jpg 1x, ./images/testimonials3-2x.jpg 2x" />
            <img
              class="customer_review__img"
              src="./images/testimonials3.jpg"
              alt="Anna, New York"
              width="85px"
            />
          </picture>
          <p class="customer-review__text">
            This is some of the best Cafés in New York. Everyone in our group loved it. Milkshake
            was the bomb of the all products. Service was fast. Staff were very friendly. The shop
            was very clean. Highly recommend!
          </p>
          <p class="customer-review__information">Anna, New York</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
