<footer>
  <div class="container footer">
    <span>homemade</span>
    <p><span>cream made</span> with passion</p>
    <div>
      <ul>
        <li>
          <a
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg>
              <use href="../images/icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://telegram.org/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg>
              <use href="../images/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg>
              <use href="../images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p>
      <b>Feel free to contact</b>
      <a href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
    </p>

    <p>
      &copy; 2022 - IceCream.<br />
      All Rights Reserved.
    </p>
  </div>
</footer>
