<section class="footer">
  <div class="container footer">
    <div class="blocks">
      <div class="title-block">
        <div class="title-div">
          <p class="title-div__text text--pale">homemade ice cream made</p>
          <p class="title-div__text text--bright">with passion</p>
        </div>
      </div>
      <div class="contacts-block">
        <ul class="social">
          <li class="social__item">
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="social__icon" width="18" height="18">
                <use href="/src/images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://telegram.org/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="social__icon" width="19" height="14">
                <use href="/src/images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="social__icon" width="9" height="19">
                <use href="/src/images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="call">
          <b class="call__phone phone--dark">Feel free to contact</b>
          <a class="call__phone phone--bright" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>

    <p class="copyright">
      &copy; 2022 - IceCream. <br />
      All Rights Reserved.
    </p>
  </div>
</footer>
