<section class="section gallery__section">
  <div class="container gallery__container">
    <h2 class="gelery__title visually-hidden">Gallery foto icecream</h2>

    <picture>
      <source
        srcset="./images/gallery-deck.png 1x, ./images/gallery-deck.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/gallery-tab.png 1x, ./images/gallery-tab.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/gallery-mpb.png, ./images/gallery-mob.png 2x"
        media="(min-width: 320px)"
      />
      <img
        src="./images/gallery-deck.png"
        alt="Gallery foto icecream"
        width="1013"
        class="gallery__img"
      />
    </picture>
  </div>
</section>
