<section class="section gallery__section">
  <div class="container gallery__container">
    <h2 class="gelery__title visually-hidden">Gallery foto icecream</h2>
    <picture>
      <source
        srcset="
          ./scr/images/gallery-deck.png 1x,
          ./scr/images/gallery-deck.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./scr/images/gallery-tab.png 1x,
          ./scr/images/gallery-tab.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="./scr/images/gallery-mpb.png, ./scr/images/gallery-mob.png 2x"
        media="(min-width: 320px)"
      />
      <img
        src="./scr/images/gallery-deck.png"
        alt="фото продукта1"
        width="1013"
        class="gallery__img"
      />
    </picture>
  </div>
</section>
