<section class="hero" id="home">
  <svg class="hero__main-circle-icon">
    <ellipse rx="50%" ry="50%" cx="50%" cy="50%" class="hero__main-circle"></ellipse>
  </svg>
  <picture>
    <source
      srcset="
        ./images/hero-icecream-deck.png 1x,
        ./images/hero-icecream-deck-2x.png 2x
      "
      media="(min-width: 1200px)"
    />
    <source
      srcset="
        ./images/hero-icecream-tab.png 1x,
        ./images/hero-icecream-tab-2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/hero-icecream-mob.png 1x,
        ./images/hero-icecream-mob-2x.png 2x
      "
      media="(min-width: 320px)"
    />
    <img
      srcset="
        ./images/hero-icecream-mob.png 1x,
        ./images/hero-icecream-mob-2x.png 2x
      "
      src="./images/hero-icecream-mob.png"
      alt="huge ice cream"
      class="img hero__icecream-photo"
    />
  </picture>
  <picture>
    <source
      srcset="
        ./images/girl-deck.png 1x,
        ./images/girl-deck-2x.png 2x
      "
      media="(min-width: 1200px)"
    />
    <source
      srcset="
        ./images/girl-tab.png 1x,
        ./images/girl-tab-2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <img
      srcset="
        ./images/girl-tab.png 1x,
        ./images/girl-tab-2x.png 2x
      "
      src="./images/girl-tab.png"
      alt="girl with ice cream"
      class="img hero__girl-photo"
    />
  </picture>

  <header class="header">
    <div class="container header__container">
      <a class="header__logo" href="">
        <svg
          class="header__logo--icon"
          width="199"
          height="50"
          aria-label="открытие бургерного меню"
        >
          <use href="./images/icons.svg#logo-icecrema"></use>
        </svg>
      </a>
      <div class="header__box-btn--tablet">
        <button class="header__menu-button" type="button" data-open>
          <svg width="20" height="12" aria-label="открытие бургерного меню">
            <use href="./images/icons.svg#burger-open"></use>
          </svg>
        </button>
        <button
          class="header__button--tablet header__button--basic"
          type="button"
          data-menu
        >
          Buy now
          <svg class="header__button--arrow" width="6" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div class="header__box" data-mobile-modal>
        <button
          class="header__menu-button header__menu-button--close"
          type="button"
          data-close
        >
          <svg width="20" height="12" aria-label="закрытие бургерного меню">
            <use href="./images/icons.svg#burger-close"></use>
          </svg>
        </button>
        <button
          class="header__button header__button--basic"
          type="button"
          data-menu
          data-open-popup
        >
          Buy now
          <svg class="header__button--arrow" width="6" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        <ul class="header__list">
          <li class="header__item">
            <a href="#home" class="header__link">Home</a>
          </li>
          <li class="header__item">
            <a href="#about" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="#howmade" class="header__link">How it’s made?</a>
          </li>
          <li class="header__item">
            <a href="#products" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="#contact" class="header__link">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <button
      onclick="topFunction()"
      id="button-up"
      class="button-up"
      title="Скол вверх"
      data-header
    >
      <svg width="50%" height="50%">
        <use class="button-up__icon" href="./images/icons.svg#arrow"></use>
      </svg>
    </button>
  </header>
  <div class="hero__box-for-overflow">
    <svg class="hero__main-circle-icon--mob">
      <ellipse rx="50%" ry="50%" cx="50%" cy="50%" class="hero__main-circle"></ellipse>
    </svg>
  
    <div class="container hero__container">
      <h1 class="hero__title">
        Ice cream made with <span class="hero__title-part">passion</span>
      </h1>
      <ul class="hero__link-set">
        <li class="hero__link-set-item">
          <a href="#products" class="hero__ancor-link hero__ancor-link--violet"
            >Products</a
          >
        </li>
        <li class="hero__link-set-item">
          <a href="#howmade" class="hero__ancor-link hero__ancor-link--white"
            >How it’s made?</a
          >
        </li>
      </ul>
      <div class="hero__box">
        <picture>
          <source
            srcset="
              ./images/hero-kettle-deck.png 1x,
              ./images/hero-kettle-deck-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero-kettle-tab.png 1x,
              ./images/hero-kettle-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/hero-kettle-tab.png 1x,
              ./images/hero-kettle-tab-2x.png 2x
            "
            src="./images/hero-kettle-tab.png"
            alt="jug with bio and eco milk"
            class="img hero__jug-photo"
          />
        </picture>
        <div class="hero__text-box">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="hero__arrow"></button>
        </div>
      </div>
      <ul class="hero__amounts">
        <li class="hero__amounts-item hero__amounts-item--first">
          <svg class="hero__number-circle-icon">
            <circle
              r="50%"
              cx="50%"
              cy="50%"
              class="hero__number-circle"
            ></circle>
          </svg>
          <p class="hero__number">16</p>
          <p class="hero__number-description">cafes</p>
        </li>
        <li class="hero__amounts-item hero__amounts-item--second">
          <svg class="hero__number-circle-icon">
            <circle
              r="50%"
              cx="50%"
              cy="50%"
              class="hero__number-circle"
            ></circle>
          </svg>
          <p class="hero__number">23</p>
          <p class="hero__number-description">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="backdrop is-hidden-popup" data-modal-popup>
    <div class="modal-body">
      <button class="btn modal__btn" type="button" data-close-popup>
        <svg class="btn__icon">
          <use href="./images/icons.svg#burger-close"></use>
        </svg>
      </button>
      <form>
        <h2 class="modal-body__title">we will call you back</h2>
        <div class="modal-body__thumb">
          <input
            class="modal-body__field"
            id="user-name"
            type="text"
            name="user-name"
          />
          <label class="modal-body__label" for="user-name"
            >Name<svg class="modal-body__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-for-user-name"></use></svg
          ></label>
        </div>
        <div class="modal-body__thumb">
          <input
            class="modal-body__field"
            id="namber-tel"
            type="tel"
            name="namber-tel"
          />
          <label class="modal-body__label" for="namber-tel"
            >Phone<svg class="modal-body__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-phone"></use></svg
          ></label>
        </div>
        <div class="modal-body__thumb">
          <input
            class="modal-body__field"
            id="email-post"
            type="email"
            name="email-post"
          />
          <label class="modal-body__label" for="email-post"
            >Email<svg class="modal-body__icon" width="18" height="18">
              <use href="./images/icons.svg#user-email"></use></svg
          ></label>
        </div>
        <div class="modal-body__thumb">
          <textarea
            class="modal-body__textarea"
            name="user-review"
            id="user-review"
            placeholder="Enter text"
          ></textarea>
          <label class="modal-body__label" for="user-review">Description</label>
        </div>
        <div class="signing-agreement">
          <input
            class="signing-agreement__field visually-hidden"
            type="checkbox"
            name="agreement"
            value="agreement"
            id="agreement"
          />
          <label class="signing-agreement__label" for="agreement">
            <svg class="signing-agreement__icon" width="16" height="15">
              <use href="./images/icons.svg#icon-check"></use></svg
            >Call me back outside business hours
            <a class="signing-agreement__link" href="./index.html"
              >Terms of an agreement</a
            >
          </label>
        </div>
        <div class="modal-body__thumb modal-body__thumb--animation">
          <div class="modal-body__note">
            <p class="modal-body__text">We try to process your request as soon as possible. While you are waiting for a call from our specialist, check out our social networks, as well as more information on the links.</p>
              <ul class="modal-body__social-list">
                <li class="social__item">
                  <a
                    class="social__link"
                    href="https://github.com/"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <svg class="social__icon" width="18" height="18">
                      <use href="/src/images/icons.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    class="social__link"
                    href="https://telegram.org/"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <svg class="social__icon" width="19" height="14">
                      <use href="/src/images/icons.svg#telegram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a
                    class="social__link"
                    href="https://www.facebook.com/"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <svg class="social__icon" width="9" height="19">
                      <use href="/src/images/icons.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
              </ul>
          </div>
          </div>
        <div class="modal-body__row">
          <button class="btn-submit" type="submit">
            Submit<svg class="header__button--arrow" width="6" height="8">
              <use href="./images/icons.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
