<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="">
      <svg width="199" height="50" aria-label="открытие бургерного меню">
        <use href="./images/icons.svg#logo-icecrema"></use>
      </svg>
    </a>
    <div class="header__box-btn--tablet">
      <button class="header__menu-button" type="button" data-open>
        <svg width="20" height="12" aria-label="открытие бургерного меню">
          <use href="./images/icons.svg#burger-open"></use>
        </svg>
      </button>
      <button
        class="header__button--tablet header__button--basic"
        type="button"
        data-menu
      >
        Buy now
        <svg class="header__button--arrow" width="6" height="8">
          <use href="./images/icons.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <div class="header__box" data-mobile-modal>
      <button
        class="header__menu-button header__menu-button--close"
        type="button"
        data-close
      >
        <svg width="20" height="12" aria-label="закрытие бургерного меню">
          <use href="./images/icons.svg#burger-close"></use>
        </svg>
      </button>
      <button
        class="header__button header__button--basic"
        type="button"
        data-menu
      >
        Buy now
        <svg class="header__button--arrow" width="6" height="8">
          <use href="./images/icons.svg#arrow"></use>
        </svg>
      </button>
      <ul class="header__list">
        <li class="header__item">
          <a href="#home" class="header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#about" class="header__link">About us</a>
        </li>
        <li class="header__item">
          <a href="#howmade" class="header__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contact" class="header__link">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <button onclick="topFunction()" id="button-up" title="На верх">
    <svg width="20" height="20">
      <use href="./images/icons.svg#arrow"></use>
    </svg>
  </button>
</header>
