<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="">icecream</a>
    <div class="header__box">
      <button class="header__button" type="button">Buy now</button>
      <ul class="header__list">
        <li class="header__item">
          <a href="#home" class="header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#about" class="header__link">About us</a>
        </li>
        <li class="header__item">
          <a href="#howmade" class="header__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contact" class="header__link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
