<section class="section products">
  <div class="container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title">PRODUCTS</h2>
    <div class="products-blok">
      <div class="ice-creame">
        <div class="products-blok__ice-cream">
          <h3 class="products-blok__title">ice cream</h3>
          <p class="products-blok__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-blok__btn button">
            <img src="/src/images/product-arrow-right 2.png" alt=">" />
          </button>
        </div>
      </div>
      <div class="coffe">
        <div class="products-blok__coffe">
          <h3 class="products-blok__title">ice coffee</h3>
          <p class="products-blok__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-blok__btn button">
            <img src="/src/images/product-arrow-right 2.png" alt=">" />
          </button>
        </div>
      </div>
      <div class="milkshakes">
        <div class="products-blok__milkshakes">
          <h3 class="products-blok__title">milkshakes</h3>
          <p class="products-blok__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products-blok__btn button">
            <img src="/src/images/product-arrow-right 2.png" alt=">" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
