.about {
    padding-bottom: 0;
    background: #FFF5F6;   
}

@media screen and (min-width: 1200px) {
    .about {
        background-repeat: no-repeat;
        background-position: 50% 90%;
        background-size: contain;        
    
        background-image: url("../images/spilled-milk-deck.png");

        @media (min-device-pixel-ratio: 2),
        (min-resolution:192dpi),
        (min-resolution: 2dppx) {
            .about {
                background-image: url("../images/spilled-milk-deck-2x.png");
            }   
        }
    }
}

.about__label {
    text-align: center;
    color: $accent-pink;
    margin-bottom: 16px;
    font-family: $title-font-family;
    text-transform: uppercase;
    @include font(400, 18px, 1.16, 0.04em);

}

.about__title {
    text-align: center;
    color: #D41443;
    font-family: $title-font-family;
    text-transform: uppercase;
    @include font(400, 34px, 1.15, 0.04em);
    margin-bottom: 32px;

    @media screen and (max-width:767px) {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    @include tablet {
        margin-bottom: 40px;
    }
    
    @include desktop {
        margin-bottom: 60px;
    }
}

.about__wrapper-box {
    font-family: $main-font-family;    

    @include tablet {
        display: flex;
        justify-content: center;
    }    
}

.about__wrapper-pic {
    text-align: center;
}

.about__section {
    text-align: center;
    width: 220px;
    margin-left: auto;
    margin-right: auto;

    // for milk
    @media screen and (max-width:767px) {
        width: 280px;
        background-position: 0 71px;
        background-size: content;
        background-repeat: no-repeat;
        background-image: url("../images/spilled-milk-mob.png");
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution:192dpi),
    (min-resolution: 2dppx) {
        .about__section {
            background-image: url("../images/spilled-milk-mob-2x.png");
        }
        

    }

    @include tablet {
        width: 334px;
        margin-left: 32px;
        margin-right: 0;
    }

    @include desktop {
        padding-top: 90px;
        width: 463px;
        margin-left: 100px;
        margin-right: 0;
    }
}


.about__top-text,
.about__down-text,
.about__line {
    width: 220px;
    text-align: left;
    
    @include font(500, 12px, 1.62, 0.02em);
    

    @include tablet {
        width: 334px;
        @include font(500, 14px, 1.76, 0.02em);
    }

    @include desktop {
        width: 463px;
        @include font(500, 16px, 1.76, 0.02em);
        margin-bottom: 32px;
    }

}

.about__top-text {    
    margin-bottom: 40px;
    
    color: #000;
}

.about__down-text {
    color: #907E82;
    
    margin-bottom: 10px;

    @include desktop {        
        margin-bottom: 20px;
    }
}

.about__line {    
    color: #907E82;
    
    margin-bottom: 20px;

    @include tablet {        
        margin-bottom: 40px;
    }

    @include desktop {        
        // margin-bottom: 0px;
    }
}



.about__btn-modal {
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #D41443;
    background-color: #fff;
    width: 176px;
    height: 44px;
    border-radius: 22px;
    @include font(700, 14px, 1.28, 0.04em);
    border-color: #fff;
    cursor: pointer;

    @include tablet {
        @include font(700, 16px, 1.30, 0.04em);
    }

    transition: background-color 250ms $cubic-bezier;

    &:hover,
    &:focus {
        background-color: $button-hover;
    }
}

.about__icon {
    margin-left: 15px;    
    stroke: #D41443;
}