.button-up{
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: fixed;        
    bottom: 20px;
    right: 20px; 
    width: 40px;
    height: 40px;
    z-index: 999;     
    border: none;
    background-color: $button-hover;
    cursor: pointer;
    border-radius: 25%;
    transform: rotate(-90deg);
    
    @include animation(background-color);
    @include animation(opacity);

    &:hover, &:focus{
        background-color: $menu-link-border;
    }

    @include tablet{
        width: 50px;
        height: 50px;
    }

    @include desktop{
        width: 60px;
        height: 60px;
    }
}


.button-up__icon{
    stroke: $main-red-color;
}

.button-up.no-transparency{
    display: block;
    opacity: 1;
}