.swiper {
    width: 100%;
    height: 100%;

    @include mobile {
        width: 280px;
    }
    @include tablet {
        width: 620px;
    }
    @include desktop {
        width: 968px;
    }
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: rgb(228, 54, 54);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    // background: rgba(16, 211, 65, 0.589);

    color: transparent;
    background-image: url("/src/images/ellipse.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    color: transparent;
    background-image: url("/src/images/house-svg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.customer_review__img {
    display: block;
    margin-bottom: 16px;
    border-radius: 50%;
    @include tablet {
        margin-bottom: 20px;
    }
    @include desktop {
        margin-bottom: 32px;
    }
}

.text-container {
    padding: 30px 55px 30px 55px;
}
.customer-review__text {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #000;
    background-color: #fafafa;
    padding: 4px 37px;
    font-family: DM Sans, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.55;
    background: repeating-linear-gradient(#fafafa, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
    background-position: 100px;
    @include tablet {
        font-size: 14px;
        line-height: 2.15;
    }
    @include desktop {
        font-size: 16px;
        line-height: 1.85;
    }

    &::before {
        content: url("/src/images/commas-deck-mob.png");
        z-index: -1;
        position: absolute;
        top: -12px;
        left: 0px;
        @include tablet {
            content: url("/src/images/commas-tab.png");
            top: -12px;
            left: 0px;
        }
        @include desktop {
            content: url("/src/images/commas-deck-mob.png");
            top: -14px;
            left: -9px;
        }
    }
}

.customer-review__bg {
    height: 360px;
    padding: 35px 26px;
    background-color: #fafafa;
    margin-bottom: 36px;
    @include tablet {
        height: 165px;
        margin-bottom: 24px;
        padding: 35px 26px;
    }
    @include desktop {
        height: 138px;
        margin-bottom: 36px;

        padding: 32px 72px;
    }
    &::after {
        content: "...";
        color: #c7133e;
        font-size: 35px;
        display: block;
        position: absolute;
        bottom: 65px;
        left: 130px;
        @include tablet {
            bottom: 65px;
            left: 300px;
        }
        @include desktop {
            bottom: 74px;
            left: 471px;
        }
    }
}
.customer-review__information {
    margin-bottom: 36px;
    color: #000000;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;

    @include tablet {
        font-size: 16px;
        line-height: 1.86;
    }
    @include desktop {
        font-size: 20px;
        line-height: 1.86;
    }
}
