    .footer {
        background-color: #FFF5F6;
        padding-top: 20px;
        padding-bottom: 3px;
        @include desktop {
        padding-top: 60px;
        }
        }
    
    .container.footer {
        @media screen and (min-width: 320px) {
                width: 320px;
            }
        @media screen and (min-width: 480px) {
                width: 320px;
            }
        @include tablet {
        width: 768px;
            }             
        @include desktop {
            width: 1200px; 
        }
    }
        
    .blocks {
        padding-bottom: 40px;
        width: 100%;
        @include tablet {
           display: flex; 
           justify-content: space-between;
           align-items: center;
        }
        @include desktop {
            padding-bottom: 60px;
        }
    }

    .title-block {
        margin-bottom: 40px;
        @include tablet { 
            margin-bottom: 0px;
        }
    }

    .title-div {
        width: 232px;
        @include tablet {
            width: 340px;
            margin-bottom: 0px;
            }
        @include desktop {
            min-width: 478px;
            }
        
    }
    .title-div__text {
        font-family: $title-font-family;
        
}

    .text--pale {
        color: $accent-pink;
        margin-bottom: 16px;
        
            font-size: 18px;
            line-height: 0.9;
            text-transform: uppercase;
        @include tablet {
            margin-bottom: 12px;
            
            font-size: 26px;
            line-height: 0.9;
            letter-spacing: 0.04em;
        }
        @include desktop {
            margin-bottom: 16px;
            font-size: 30px;
            line-height: 0.9;
            
        }
}

    .text--bright {
        color: $main-red-color;
        font-size: 34px;
        line-height: 0.9;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        @include tablet {
            font-size: 48px;
            line-height: 0.9;
            letter-spacing: 0.06em;
            }
        
        @include desktop {
            font-size: 58px;
            line-height: 0.9;
            letter-spacing: 0.06em;
        
            }
}

    .social {
        display: flex;
        justify-content: flex-end;

        margin-bottom: 40px;
        
    }

    .social__item {
        margin-right: 28px;

        width: 32px;
        height: 32px;
        &:last-child {
            margin-right: 0px;
        }
                @include tablet {
                    width: 34px;
                    height: 34px;
                    margin-right: 30px;
                    &:last-child {
                            margin-right: 0px;
                }
        
                @include desktop {
                    width: 34px;
                    height: 34px;
                }
    }
    }

    .social__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #FEA5BB;

        transition: background-color 250ms $cubic-bezier;

            &:hover,
            &:focus {
                background-color: $main-red-color;
            }
        }

    
    .call {
        
        text-align: right;
        @include tablet {
                
                margin-bottom: 0px;
            }
    }

    .call__phone {
        font-family: $main-font-family;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.9;
        @include tablet {
            font-size: 14px;
            }
        @include desktop {
            font-size: 16px;
            }
    }

    .phone--bright {
        color: $main-red-color;
    }

    .copyright {
        
        margin-bottom: 16px;
        
        width: 100%;
            @include desktop {
                margin-bottom: 7px;
        }

}

    .copyright {
        padding-top: 16px;
        border-top: 1px solid #E1E1E1;

        font-family: $main-font-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: $main-text-color;
        margin: 0 auto;
            @include tablet {
                padding-top: 8px;
                line-height: 1.9;
        }
    }

    br {
        @include tablet {
                display: none;
            }
    }
    