.gallery__section {
  background-image: linear-gradient(
    #fff5f6 0px,
    #fff5f6 149px,
    #ffffff 149px,
    #ffffff 550px
  );
}

.gallery__container {
  padding: 0;
  margin: 0;
  @include desktop {
    margin-left: 94px;
    margin-right: 94px;
  }
}
.gallery__img {
}
