.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 95, 135, 0.747);
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden-popup {
  opacity: 0;
  pointer-events: none;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 35px;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: auto;
  font-family: $main-font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: $main-red-color;
  background-image: linear-gradient(
      351deg,
      rgba(235, 176, 48, 0.6) 0%,
      rgba(230, 47, 161, 0.4) 50%,
      rgba(238, 137, 145, 0.6) 100%
    ),
    url(../images/baner-popup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%) perspective(600px) translate(0px, 0%)
    rotateX(0deg);
  transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);

  .is-hidden-popup & {
    transform: translate(-50%, -50%) perspective(600px) translate(0px, -100%)
      rotateX(45deg);
  }

  &__title {
    font-family: $main-font-family;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin: 0 0 12px 0;
    color: $main-red-color;
  }

  &__thumb {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin: 0 0 10px 0;
  }

  &__thumb:nth-child(n + 5) {
    margin: 0 0 30px 0;
  }

  &__note {
    background-color: $accent-yellow;
    text-align: center;
    border-radius: 15px;
    opacity: 85%;
  }

  &__field {
    height: 40px;
    padding: 10px 0 10px 42px;
    border: 1px solid #fff;
    opacity: 85%;
    border-radius: 15px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__field:focus,
  &__field:hover {
    border: 1px solid $main-red-color;
  }

  &__label {
    padding: 0 0 4px 0;
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__field:focus + .modal__label > &,
    .modal__field:hover + .modal__label > & {
      fill: $main-text-color;
    }
  }

  &__textarea {
    width: 100%;
    height: 120px;
    font-family: $main-font-family;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 12px 16px 12px 16px;
    resize: none;
    color: $main-text-color;
    border: 1px solid #fff;
    opacity: 85%;
    border-radius: 15px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__textarea:focus,
  &__textarea:hover {
    border: 1px solid $main-red-color;
  }

  &__row {
    max-width: 160px;
    margin: 0 auto 0 auto;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    border-radius: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 534px;
    border-radius: 15px;
  }

  &__text {
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  &__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  stroke: rgb(102, 93, 93);
  border-radius: 50%;
  border: 1px solid rgba(175, 95, 135, 0.747);
  cursor: pointer;
  background-color: $accent-yellow;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    stroke: $main-red-color;
    border-color: $accent-pink;
  }

  .btn__icon {
    display: inline-block;
    width: 11px;
    height: 11px;
  }
}

.signing-agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;

  &__field {
    margin: 0 8px 0 0;
  }

  &__label {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: $main-font-family;
    font-size: 10px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: #fff;
    cursor: pointer;

    @media screen and (min-width: 480px) {
      font-size: 11px;
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__icon {
    top: 5px;
    left: 0;
    margin: 0 10px 0 0;
    border: 2px solid #fff;
    border-radius: 2px;
    fill: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .signing-agreement__field:checked + .signing-agreement__label > & {
      background-color: $main-red-color;
      border-color: $main-red-color;
      fill: #fff;
    }
  }

  &__link {
    text-decoration: underline;
    margin: 0 0 0 5px;
    color: $main-red-color;
  }
}

.btn-submit {
  height: 44px;
  padding-left: 43px;
  padding-right: 43px;
  border: none;
  border-radius: 22px;
  background-color: $button-bgc;
  color: $main-red-color;
  @include font(700, 16px, calc(20 / 16), 0.04);
  font-family: $main-font-family;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}
