.products-blok { 
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;    
  }
}

.products__text {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.46;

    margin-bottom: 158px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    
    margin-bottom: 281px;
  }
}

.products-blok__item {
  position: relative; 

  width: 280px;  
  margin-left: auto;
  margin-right: auto;
  background: #ffb8ca;
  border-radius: 24px;
  padding: 160px 40px 40px 40px;

  @media screen and (min-width: 768px) {
    width: 224px;    
    padding: 118px 32px 40px 32px;
    margin-left: 0;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }

  }

  @media screen and (min-width: 1200px) {    
    width: 368px;
    padding: 160px 60px 60px 60px;
    margin-right: 32px;    
    &:last-child {
      margin-right: 0;
    }
  }

  &:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-image: url(/src/images/products-wafer-mob.png);
    width: 280px;
    height: 280px;

    @media screen and (min-width: 768px) {
      top: -25px;
      background-image: url(/src/images/products-wafer-tab.png);
      width: 224px;
      height: 224px;
    }

    @media screen and (min-width: 1200px) {
      top: -65px;
      background-image: url(/src/images/products-wafer-deck.png);
      width: 368px;
      height: 394px;
    }
  }

  &:nth-child(2) {
    background-color: #f0d1a5;
    margin-top: 140px;
    margin-bottom: 140px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(/src/images/products-coffee-mob.png);
    width: 280px;
    height: 280px;

    @media screen and (min-width: 768px) {
      top: -25px;
      background-image: url(/src/images/products-coffee-tab.png);
      width: 224px;
      height: 224px;
    }

    @media screen and (min-width: 1200px) {
      top: -65px;
      background-image: url(/src/images/products-coffee-deck.png);
      width: 368px;
      height: 394px;
    }
  }

  &:nth-child(3) {
    background-color: #c2e297;
  }

  &:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(/src/images/products-milkshakes-mob.png);
    width: 280px;
    height: 280px;

    @media screen and (min-width: 768px) {
      top: -25px;
      background-image: url(/src/images/products-milkshakes-tab.png);
      width: 224px;
      height: 224px;
    }

    @media screen and (min-width: 1200px) {
      top: -65px;
      background-image: url(/src/images/products-milkshakes-deck.png);
      width: 368px;
      height: 394px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    
    color: #ffffff;
    
    background-image: url(/src/images/white-dots.png);
    width: 26px;
    height: 6px;
    bottom: 268px;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
      bottom: 294px;
    }

    @media screen and (min-width: 1200px) {
      bottom: 298px;
    }

  }
}


.products-blok__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 70px;  

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  } 
}

.products-blok__text {  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    height: 150px;
    overflow: hidden;
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    height: 106px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 60px;
  }
}

.products-blok__btn {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}